<div class="grid grid-cols-4 container mx-auto">
  <label for="searcher" class="col-span-3 md:col-span-4 relative px-2">
    <input
      type="text"
      name="searcher"
      id="searcher"
      class="px-4 py-2 rounded-md outline-none shadow-md w-full text-lg mb-4 border"
      placeholder="Buscar..."
      [(ngModel)]="searchValue"
      (input)="searchProduct()"
    />
    <i class="fa-solid fa-magnifying-glass absolute text-xl right-4 top-3"></i>
  </label>

  <!-- Filtros -->
  <button
    class="md:hidden rounded-md bg-red-400 hover:bg-red-500 mb-4 font-semibold hover:text-white duration-200"
  >
    Filtros
  </button>
  <div
    class="cols-span-1 px-2 py-4 bg-[#000000aa] md:bg-transparent fixed md:relative w-screen md:w-auto h-screen md:h-auto top-0 z-50 invisible md:visible"
  >
    <div class="flex items-center justify-between">
      <p class="text-lg font-semibold">Filtros</p>
      <button (click)="resetFilters()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="my-4">
      <span class="text-gray-500 font-medium text-sm">Por categoría</span>
      <div class="grid grid-cols-1 mt-2 gap-2">
        <ng-container *ngIf="categories.length > 0">
          <div *ngFor="let category of categories">
            <button
              class="border border-transparent text-gray-600 p-1 rounded-md font-medium cursor-pointer hover:text-red-400 hover:border-red-400 duration-200 w-full text-left"
              (click)="getProductsForCategory(category.category)"
            >
              {{ category.category }}
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="categories.length <= 0">
          <app-loader />
        </ng-container>
      </div>
    </div>
    <hr />
    <div class="my-4">
      <span class="text-gray-500 font-medium text-sm block">Por precio</span>
      <mat-slider min="0" max="1000">
        <input
          [(ngModel)]="minPrice"
          (input)="filterByPrice()"
          matSliderStartThumb
        />
        <input
          [(ngModel)]="maxPrice"
          (input)="filterByPrice()"
          matSliderEndThumb
        />
      </mat-slider>
      <div
        class="mt-2 flex gap-4 items-center text-gray-700 text-sm font-medium w-full justify-between"
      >
        <p>min: {{ minPrice }}</p>
        <p>max: {{ maxPrice }}</p>
      </div>
    </div>
  </div>

  <!-- Productos -->

  <div class="col-span-4 md:col-span-3 min-h-screen px-2">
    <ng-container *ngIf="!productLoader">
      <div class="h-full w-full flex items-center justify-center">
        <app-loader />
      </div>
    </ng-container>
    <ng-container *ngIf="productLoader">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div
          *ngFor="let product of productsFilter"
          class="relative border rounded-md shadow-md hover:shadow-red-200 cursor-pointer p-3 flex flex-col duration-200 group"
        >
          <div
            class="w-full h-full absolute group-hover:bg-[#00000055] left-0 top-0 rounded-md flex flex-col gap-4 items-center justify-center invisible group-hover:visible duration-200 transition-all"
          >
            <button-custom
              label="Ver producto"
              [routerLink]="['product', product.id]"
            />
            <button-custom label="Añadir al carrito" />
          </div>
          <img
            src="{{ product.image }}"
            alt="{{ product.title }}"
            class="w-full h-44 object-contain"
          />
          <p class="font-medium text-center">{{ product.title }}</p>
          <div class="grow flex flex-col justify-end">
            <p class="text-center text-gray-600 font-medium text-lg">
              {{ product.price | currency : "USD" }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
