<div class="grid grid-cols-4 container mx-auto">
  <div class="cols-span-1 px-2 py-4">
    <h3 class="text-lg font-semibold">Filtros</h3>
    <div class="my-4">
      <span class="text-gray-500 font-semibold text-sm">Por categoría</span>
      <div class="grid grid-cols-2 mt-2">
        <p>Uno</p>
        <p>Dos</p>
        <p>Tres</p>
      </div>
    </div>
    <div class="my-4">
      <span class="text-gray-500 font-semibold text-sm">Por precio</span>
      <div class="mt-2 w-full">
        <label for="minPrice" class="bg-gray-300">min</label>
        <input type="text" name="minPrice" id="minPrice" />
      </div>
      <div>
        <label for="minPrice">max</label>
        <input type="text" name="maxPrice" id="maxPrice" />
      </div>
    </div>
  </div>

  <div class="col-span-3">Hola</div>
</div>
